
.glowing-border {
  --gradient-glow: yellow, green, blue, purple, red;

  margin-block: 3rem;
  padding: 8rem 3rem;
  max-width: 60ch;

  border: 10px solid transparent;
  border-left: 0;
  border-radius: 0 100vw 100vw 0;

  background:
    linear-gradient(var(--surface) 0 0) padding-box,
    conic-gradient(from -90deg, var(--gradient-glow)) border-box;

  position: relative;
  isolation: isolate;
}

.glowing-border::before,
.glowing-border::after {
  content: '';
  position: absolute;
  border-radius: inherit;
}

.glowing-border::before {
  background: var(--surface, Canvas);
  inset: 0.5rem;
  scale: 1.2 1;
  transform-origin: right;
  z-index: -1;
  filter: blur(0.5rem);
}

.glowing-border::after {
  background: conic-gradient(from -90deg, var(--gradient-glow));
  inset: -1.5rem;
  z-index: -2;
  opacity: 0.5;
  filter: blur(0.5rem);
}

@layer general-styling {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: system-ui;
    /* color-scheme: dark; */
  }

  body {
    margin: 0;
    overflow-x: clip;

    --surface: #fff;  
    /* background: var(--surface); */

  }
}
